In [22]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [42]:
df=pd.read_csv("signal-data (1).csv")

In [38]:
df.head()

,Time,0,1,2,3,4,5,6,7,8,...,581,582,583,584,585,586,587,588,589,Pass/Fail
0,2008-07-19 11:55:00,3030.93,2564.00,2187.7333,1411.1265,1.3602,100.0,97.6133,0.1242,1.5005,...,NaN,0.5005,0.0118,0.0035,2.3630,NaN,NaN,NaN,NaN,-1
1,2008-07-19 12:32:00,3095.78,2465.14,2230.4222,1463.6606,0.8294,100.0,102.3433,0.1247,1.4966,...,208.2045,0.5019,0.0223,0.0055,4.4447,0.0096,0.0201,0.0060,208.2045,-1
2,2008-07-19 13:17:00,2932.61,2559.94,2186.4111,1698.0172,1.5102,100.0,95.4878,0.1241,1.4436,...,82.8602,0.4958,0.0157,0.0039,3.1745,0.0584,0.0484,0.0148,82.8602,1
3,2008-07-19 14:43:00,2988.72,2479.90,2199.0333,909.7926,1.3204,100.0,104.2367,0.1217,1.4882,...,73.8432,0.4990,0.0103,0.0025,2.0544,0.0202,0.0149,0.0044,73.8432,-1
4,2008-07-19 15:22:00,3032.24,2502.87,2233.3667,1326.5200,1.5334,100.0,100.3967,0.1235,1.5031,...,NaN,0.4800,0.4766,0.1045,99.3032,0.0202,0.0149,0.0044,73.8432,-1

In [37]:
df['Time']=pd.to_datetime(df['Time'])

In [47]:
df['Time']=pd.to_datetime(df['Time'])
df['year'] = df['Time'].dt.year
df['month'] = df['Time'].dt.month
df['day'] = df['Time'].dt.day
df['hour'] = df['Time'].dt.hour
df['minute'] = df['Time'].dt.minute
df['second'] = df['Time'].dt.second

df['year'] = df['year'].astype(float) 
df['month'] = df['month'].astype(float) 
df['day'] = df['day'].astype(float) 
df['hour'] = df['hour'].astype(float) 
df['minute'] = df['minute'].astype(float) 
df['second'] = df['second'].astype(float) 

df= df.drop('Time',axis=1)

In [48]:
df.dtypes

0         float64
1         float64
2         float64
3         float64
4         float64
           ...
month     float64
day       float64
hour      float64
minute    float64
second    float64
Length: 597, dtype: object

In [24]:

df['Time'] = pd.to_datetime(df['Time'])

In [26]:
df['Time']

0      2008-07-19 11:55:00
1      2008-07-19 12:32:00
2      2008-07-19 13:17:00
3      2008-07-19 14:43:00
4      2008-07-19 15:22:00
               ...
1562   2008-10-16 15:13:00
1563   2008-10-16 20:49:00
1564   2008-10-17 05:26:00
1565   2008-10-17 06:01:00
1566   2008-10-17 06:07:00
Name: Time, Length: 1567, dtype: datetime64[ns]

In [13]:
df['Time']  =df['Time'] .apply(lambda x: x.timestamp())

In [19]:
df['Time']=pd.to_datetime(df['Time']).dt.time

In [21]:
df['Time']

0       00:00:01.216468
1       00:00:01.216470
2       00:00:01.216473
3       00:00:01.216478
4       00:00:01.216480
             ...
1562    00:00:01.224169
1563    00:00:01.224190
1564    00:00:01.224221
1565    00:00:01.224223
1566    00:00:01.224223
Name: Time, Length: 1567, dtype: object

In [16]:
X=df.drop(['Pass/Fail'],axis=1)
y=df['Pass/Fail']

In [17]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=42)
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [18]:
X_train

array([[ 0.56329022, -1.12792731,  0.3938542 , ...,  1.968848  ,
         2.44339838, -0.3593128 ],
       [ 0.27094285, -0.78450652,  1.17532334, ..., -0.08496161,
        -0.29673224,  0.0917702 ],
       [ 0.11701935, -0.19047778, -0.18434689, ...,  0.30733911,
         0.24408301,  0.20740325],
       ...,
       [ 0.57521369,  0.87334102, -0.52792278, ..., -0.23495894,
        -0.26067789, -0.37320733],
       [ 1.26543154, -0.11923694,  0.49382814, ...,  0.05349747,
         0.31619171,  4.66060267],
       [ 0.71527736,  0.30607752, -0.78554321, ..., -0.5349536 ,
        -0.6212214 , -0.5809422 ]])